<template>
  <div class="sankey">
    <b-button variant="danger" id="resetBtn" @click="fullReset()"
      >Reset</b-button
    >
    <b-button variant="primary" id="showVaxLocs" @click="toggleVacLocs()"
      >Toggle Manufacturer Locations</b-button
    >
    <l-map
      id="map"
      style="height: 80%; width: 100%"
      ref="map"
      :zoom="zoom"
      :center="center"
      @update:zoom="zoomUpdated"
      @update:center="centerUpdated"
      @update:bounds="boundsUpdated"
    >
      <l-tile-layer :url="url"></l-tile-layer>
      <l-geo-json
        v-if="show"
        :geojson="geojson"
        :options="options"
        :options-style="styleFunction"
        @click="clickedJson"
      />
    </l-map>
    <div v-if="this.countryName">
      <div class="currentCountry">
        <h1 class="col1">
          {{ countryName }}
        </h1>
        <h1 id="gaCurrentCountry">
          {{ gaelicCountryName }}
        </h1>
        <country-flag
          :country="this.iso2.toLowerCase()"
          size="big"
          id="countryFlag"
        />
        <h4 class="col2">Total Population: {{ currentCountryPopulation }}</h4>
        <h4 class="col3">
          Total Deaths: {{ currentCasesAndDeaths["latest_data"]["deaths"] }}
        </h4>
        <h4 class="col4">
          Total Cases: {{ currentCasesAndDeaths["latest_data"]["confirmed"] }}
        </h4>
      </div>
      <div v-if="this.vaxDestinations[1]" class="currentCountry">
        <h2>Donation Flow</h2>
        <country-flag
          v-for="dest in vaxDestinations"
          :key="dest"
          :country="dest"
          size="big"
          id="countryFlag"
        />
      </div>
      <div v-else class="currentCountry">
        <h1>No Donations Found</h1>
      </div>
    </div>
  </div>
</template>

<script>
import { LMap, LTileLayer, LGeoJson } from "vue2-leaflet";
import * as L from "leaflet";
// import * as L1 from 'leaflet.markercluster'
/* eslint-disable no-unused-vars */
import { spatialsankey } from "d3-spatialsankey";
/* eslint-enable no-unused-vars */
import * as d3base from "d3";
const d3 = Object.assign(d3base, { spatialsankey });
import { mapState } from "vuex";
import json from "@/assets/iso3.json";
import CountryFlag from "vue-country-flag";

export default {
  name: "Sankey",
  props: {
    filter: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      /* url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png', */
      /* url: 'https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.png', */
      url: "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
      svg: null,
      zoom: 3,
      scale: 50,
      center: [47.41322, -1.219482],
      bounds: null,
      loading: false,
      geojson: null,
      fillColor: "#FFFFFF",
      show: true,
      json: json,
      iso2: null,
      iso3: null,
      countryName: null,
      gaCountryName: null,
      isVacLocs: true,
      linklayer: null,
      nodelayer: null,
      vaxDestinations: [],
      vacManufacLinks: [],
      vaxNodes: [],
    };
  },
  components: {
    LMap,
    LTileLayer, 
    LGeoJson,
    CountryFlag,
  },
  mounted: function () {},
  computed: {
    ...mapState(["isSelected", "inward", "own"]),
    options() {
      return {
        onEachFeature: this.onEachFeatureFunction,
      };
    },
    styleFunction() {
      const fillColor = this.fillColor;
      return () => {
        return {
          fill: true,
          weight: 0.3,
          color: "red",
          opacity: 1,
          fillColor: fillColor,
          fillOpacity: 0,
        };
      };
    },
    onEachFeatureFunction() {
      if (!this.enableTooltip) {
        return () => {};
      }
      return (feature, layer) => {
        layer.bindTooltip("<div>" + feature.properties.name + "</div>", {
          permanent: false,
          sticky: true,
        });
      };
    },
    currentCountryPopulation() {
      const popList = this.$store.state.population;
      var item;
      var currentPop;
      for (item in popList) {
        if (popList[item]["Country Code"] == this.iso3) {
          currentPop = popList[item]["2020"];
        }
      }
      return currentPop;
    },
    currentCasesAndDeaths() {
      const countryList = this.$store.state.casesAndDeaths;
      var item;
      var currentCountry;
      for (item in countryList) {
        if (countryList[item]["name"] == this.countryName) {
          currentCountry = countryList[item];
        } else if (
          countryList[item]["name"] == "UK" &&
          this.countryName == "United Kingdom"
        ) {
          currentCountry = countryList[item];
        } else if (
          countryList[item]["name"] == "USA"
        ) {
          currentCountry = countryList[item];
        }
      }
      return currentCountry;
    },
    vacLocs() {
      return this.$store.state.vacManufacLocs;
    },
    gaelicNames() {
      return this.$store.state.GaNames;
    },
    gaelicCountryName() {
      return this.gaCountryName;
    },
  },
  methods: {
    toggleVacLocs() {
      this.countryName = null;
      this.gaCountryName = null;
      this.$store.dispatch("loadVaxTotalByCountry");
      const map = this.$refs.map.mapObject;
      this.isVacLocs != this.isVacLocs;
      if (this.isVacLocs == true) {
        // var myIcon = L.icon({
        //   iconUrl: "vax_logo.png",
        //   iconSize: [30, 50],
        // });
        var key;
        var dest;
        var origin;
        var country;
        for (key in this.vacLocs) {
          origin = this.vacLocs[key]["id"];
          if (this.vacLocs[key]["geometry"]["coordinates"][0] != undefined) {
            L.marker([this.vacLocs[key]["geometry"]["coordinates"][0], this.vacLocs[key]["geometry"]["coordinates"][1]]).addTo(map);
          }
          if (this.vacLocs[key]["countries_supplied"] != undefined) {
            dest = this.vacLocs[key]["countries_supplied"].split(", ");
            for (country in dest) {
              if (dest[country] == 'USA'){
                dest[country] = 'US'
              }
              let temp = {
                target: dest[country],
                source: origin,
                flow: 5 * this.scale,
              };
              this.vacManufacLinks.push(temp);
            }
          }
        }
      }
      this.countryToIso2();
    },

    countryToIso2() {
      var link;
      var country;
      let vaxLinks = this.vacManufacLinks;
      vaxLinks = vaxLinks.filter((link) => link["source"] != undefined);
      for (link in vaxLinks) {
        // for (iso in this.json){
        //   if (vaxLinks[link]['source'] != undefined && vaxLinks[link]['source'].length == 3 && vaxLinks[link]['source'] == this.json[iso]) {
        //     vaxLinks[link]['source'] = invertedJson[vaxLinks[link]['source']] // converting iso3 Source to iso2 using json imported
        //   }
        // }
        for (country in this.gaelicNames) {
          if (this.gaelicNames[country]["EN_DFA"] == vaxLinks[link]["target"]) {
            vaxLinks[link]["target"] = this.gaelicNames[country]["ISO-3166-1-alpha2"];
          } else if (
            this.gaelicNames[country]["EN_DFA"] == vaxLinks[link]["source"]
          ) {
            vaxLinks[link]["source"] = this.gaelicNames[country]["ISO-3166-1-alpha2"];
            this.vaxNodes.push(this.gaelicNames[country]["ISO-3166-1-alpha2"]);
          }
        }
      }
      this.vacManufacLinks = vaxLinks;
      this.drawManufacLinks();
    },

    drawManufacLinks() {
      const map = this.$refs.map.mapObject;
      
      L.svg().addTo(map);
      this.svg = d3.select("#map").select("svg");
      const linklayer = this.svg.append("g");
      const nodelayer = this.svg.append("g");

      this.linklayer = linklayer;
      this.nodelayer = nodelayer;
      map.setMaxBounds([
        [-90, -180],
        [90, 180],
      ]);

      const spatialsankey = d3
        .spatialsankey()
        .lmap(map)
        .nodes(this.vacLocs.concat(this.$store.state.nodes.features))
        .links(this.vacManufacLinks);

      const nodelinks = spatialsankey.links();
      const sankeyWidth = spatialsankey.link().width();

      // Draw links
      var link = spatialsankey.link();
      var beziers = linklayer
        .selectAll("path")
        .data(nodelinks)
        .enter()
        .append("path")
        .attr("d", link)
        .attr("id", function (d) {
          return d.id;
        })
        .style("stroke-width", function (d) {
          return d.width;
        })
        .style("fill", "none");

      if (focus) {
        beziers.style("opacity", function (d) {
          return d.source == focus ? 1.0 : 0.1;
        });
        beziers.style("stroke", function (d) {
          if (d.source == focus) {
            return "rgba(255, 0, 0, 1)";
          }

          if (sankeyWidth(d) > 4) {
            return "rgba(70, 200, 130, 1)";
          }

          if (sankeyWidth(d) > 2) {
            return "rgba(70, 120, 130, 1)";
          }

          return "rgba(100, 100, 100, 1)";
        });
      } else {
        beziers.style("opacity", 1.0);
        beziers.style("stroke", function (d) {
          if (sankeyWidth(d) > 4) {
            return "rgba(70, 200, 130, 1)";
          }

          if (sankeyWidth(d) > 2) {
            return "rgba(70, 120, 130, 1)";
          }

          return "rgba(200, 200, 200, 1)";
        });
      }
      const zoomend = function () {
        linklayer.selectAll("path").attr("d", spatialsankey.link());
      };

      map.on("zoomend", zoomend);

      // Remove old links
      beziers.exit().remove();

      return beziers;
    },

    clickedJson(event) {
      this.iso3 = event["sourceTarget"]["feature"]["properties"]["ISO_A3"]; // Assigning 3 digit ISO from Geojson layer to property
      this.countryName = event["sourceTarget"]["feature"]["properties"]["ADMIN"];
      var country;
      this.gaCountryName = null;
      for (country in this.gaelicNames) {
        if (this.gaelicNames[country]["EN_DFA"] == this.countryName) {
          this.gaCountryName = this.gaelicNames[country]["GA"];
        }
      }
      this.iso2 = this.invertJson(this.json)[this.iso3];
      this.setupSpatialSankey();
    },

    invertJson(json) {
      var ret = {};
      for (var key in json) {
        ret[json[key]] = key;
      }
      return ret;
    },
    reset() {
      const map = this.$refs.map.mapObject;
      var tileUrl =
        "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png";
      map.eachLayer(function (layer) {
        //Looping through and removing all layers that aren't the map itself.
        if (tileUrl != layer._url || !!layer.toGeoJSON) {
          map.removeLayer(layer);
        }
      });
      this.vaxDestinations = [];
      L.svg().addTo(map); //Re-building map layers
      this.svg = d3.select("#map").select("svg");
      var myGeo = L.geoJSON(this.geojson).addTo(map); //Re-initing the GeoJson layer to have clickable countries again
      myGeo.setStyle(this.styleFunction()); //Styling GeoJson layer like it was in original load
      myGeo.on("click", (event) => {
        //Adding click layer back to GeoJson layer to function as other click function does.
        this.iso3 = event["sourceTarget"]["feature"]["properties"]["ISO_A3"]; // Assigning 3 digit ISO from Geojson layer to property
        this.countryName = event["sourceTarget"]["feature"]["properties"]["ADMIN"];
        var country;
        for (country in this.gaelicNames) {
          if (this.gaelicNames[country]["EN_DFA"] == this.countryName) {
            this.gaCountryName = this.gaelicNames[country]["GA"];
          }
        }
        this.iso2 = this.invertJson(this.json)[this.iso3];
        this.setupSpatialSankey();
      });
    },

    fullReset() {
      this.countryName = null;
      this.reset();
    },

    setIsSelected(isSelected) {
      this.$store.commit("setIsSelected", isSelected);
    },
    setSte(ste) {
      this.$store.commit("setSte", ste);
    },
    initializeSpatialSankey(nodes, links, codes, inward, own) {
      // Setup svg element to work with
      const map = this.$refs.map.mapObject;
      L.svg().addTo(map);
      this.svg = d3.select("#map").select("svg");
      const linklayer = this.svg.append("g");
      const nodelayer = this.svg.append("g");
      this.linklayer = linklayer;
      this.nodelayer = nodelayer;
      map.setMaxBounds([
        [-90, -180],
        [90, 180],
      ]);

      // Load data asynchronosuly
      // const setSte = this.setSte;
      // const isSelected = () => this.isSelected;
      // const toggleIsSelected = () => {
      //   this.setIsSelected(! this.isSelected);
      //   d3.event.stopPropagation();
      // };
      // map.on('click', () => {
      //   linklayer.selectAll("path").remove();
      //   nodelayer.selectAll("circle").remove();
      //   this.vaxDestinations = [];

      // });

      // Setup spatialsankey object
      const filter = this.filter;
      const scale = this.scale;
      const filteredLinks = links
        .filter(function (link) {
          const flow = parseInt(link.flow);
          if (
            (inward && flow > 0) ||
            (!inward && flow < 0) ||
            (!own && link.source === link.target)
          ) {
            return false;
          }
          if (link.source in codes) {
            for (const key in filter) {
              if (codes[link.source][key] !== filter[key]) {
                return false;
              }
            }
            return true;
          }
        })
        .map((link) => ({
          source: link.source,
          target: link.target,
          flow:
            parseInt(link.flow) *
            scale *
            (inward && link.source !== link.target ? -1 : 1),
        }));
      const spatialsankey = d3
        .spatialsankey()
        .lmap(map)
        .nodes(nodes.features)
        .links(filteredLinks);
      const options = { use_arcs: false, flip: false };

      const linknodes = function (nodelinks, focus) {
        // Add data to link layer
        const beziers = linklayer.selectAll("path").data(nodelinks);
        const link = spatialsankey.link(options);

        // Draw new links
        const sankeyWidth = spatialsankey.link().width();
        beziers
          .enter()
          .append("path")
          .attr("d", link)
          .attr("id", function (d) {
            return d.id;
          })
          .style("stroke-width", function (d) {
            return sankeyWidth(d);
          })
          .attr("pointer-events", "visible")
          .style("pointer-events", "visible")
          .style("fill", "none");
        // .on('mouseover', function(d){mouseover(d.id);})
        // .on('click', toggleIsSelected)
        // .on('mouseout', mouseout);

        if (focus) {
          beziers.style("opacity", function (d) {
            return d.source == focus ? 1.0 : 0.1;
          });
          beziers.style("stroke", function (d) {
            if (d.source == focus) {
              return "rgba(255, 0, 0, 1)";
            }

            if (sankeyWidth(d) > 4) {
              return "rgba(70, 200, 130, 1)";
            }

            if (sankeyWidth(d) > 2) {
              return "rgba(70, 120, 130, 1)";
            }

            return "rgba(100, 100, 100, 1)";
          });
        } else {
          beziers.style("opacity", 1.0);
          beziers.style("stroke", function (d) {
            if (sankeyWidth(d) > 4) {
              return "rgba(70, 200, 130, 1)";
            }

            if (sankeyWidth(d) > 2) {
              return "rgba(70, 120, 130, 1)";
            }

            return "rgba(200, 200, 200, 1)";
          });
        }

        // Remove old links
        beziers.exit().remove();

        return beziers;
      };

      //   const mouseover = (source) => {
      //     if (! isSelected()) {
      //     // Get link data for this node
      //     const nodelinks = spatialsankey.links();

      //     linknodes(nodelinks, source);
      //     // Hide inactive nodes
      //     circs.transition().style('opacity',function () {
      //         return (this.id === source) ? 0.7 : 0;
      //     });

      //     setSte(source);
      //   }
      // };

      // const mouseout = () => {
      //   if (! isSelected()) {
      //     // Get link data for this node
      //     const nodelinks = spatialsankey.links();

      //     linknodes(nodelinks);
      //     // Remove links
      //     // linklayer.selectAll("path").remove();
      //     // Show all nodes
      //     circs.transition().style('opacity', 0.7);

      //     setSte("");
      //   }
      // };

      // Draw nodes
      const node = spatialsankey.node({
        mincolor: "rgba(30, 40, 30, 0.3)",
        maxcolor: "rgba(30, 200, 100, 1)",
      });
      const circs = nodelayer
        .selectAll("circle")
        .data(spatialsankey.nodes())
        .enter()
        .append("circle")
        .attr("id", function (d) {
          return d.id;
        })
        .attr("cx", node.cx)
        .attr("cy", node.cy)
        .attr("r", node.r)
        .style("fill", node.fill)
        .attr("opacity", 0.7)
        .attr("pointer-events", "visible");
      // .on('mouseover', function(d){mouseover(d.id);})
      // .on('click', toggleIsSelected)
      // .on('mouseout', mouseout)

      const nodelinks = spatialsankey.links();
      linknodes(nodelinks);

      // Adopt size of drawn objects after leaflet zoom reset
      const zoomend = function () {
        linklayer.selectAll("path").attr("d", spatialsankey.link());

        circs.attr("cx", node.cx).attr("cy", node.cy);
      };

      map.on("zoomend", zoomend);
    },
    setupSpatialSankey() {
      this.reset();
      const init = this.initializeSpatialSankey;
      this.$store.dispatch("loadData").then(() => {
        const codes = this.$store.state.codes;
        const nodes = this.$store.state.nodes;
        var links = this.$store.state.links;
        var link;
        var links2 = [];
        var iso2conv; //var to convert GB to UK as its an edge case that is used differently throughout datasets and libraries used
        if (this.iso2 == "GB") {
          iso2conv = "UK";
        }
        if (this.iso2 != null) {
          for (link in links) {
            if (
              links[link]["target"] == this.iso2 ||
              links[link]["target"] == iso2conv
            ) {
              //check if its selected countries matches any sources or targets from links array
              if (links[link]["source"] == "UK") {
                links[link]["source"] = "GB";
              }
              links2.push(links[link]);
              this.vaxDestinations.push(links[link]["source"].toLowerCase());
            }
          }
          links = links2;
        }

        if (!codes) {
          this.$store.dispatch("loadCodes").then(() => {
            init(
              nodes,
              links,
              this.$store.state.codes,
              this.$store.state.inward,
              this.$store.state.own
            );
          });
        } else {
          init(
            nodes,
            links,
            codes,
            this.$store.state.inward,
            this.$store.state.own
          );
        }
      });
    },
    zoomUpdated(zoom) {
      this.zoom = zoom;
    },
    centerUpdated(center) {
      this.center = center;
    },
    boundsUpdated(bounds) {
      this.bounds = bounds;
    },
  },
  watch: {
    own: function () {
      this.reset();
    },
    inward: function () {
      this.reset();
    },
    filter: function () {
      this.reset();
    },
  },
  async created() {
    this.loading = true;
    const response = await fetch("countries.geojson");
    this.geojson = await response.json();
    this.loading = false;
    await this.$store.dispatch("loadData");
    await this.$store.dispatch("loadPopulation");
    await this.$store.dispatch("loadCasesAndDeaths");
    await this.$store.dispatch("loadManufacLocs");
    await this.$store.dispatch("loadGaNames");
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
/* .col1{
  position: absolute;
  top: 0;
  left: 5vw;
}
.col2{
  position: absolute;
  left: 1vw;
  top: 8vh;

}
.col3{
  position: absolute;
  left: 30vw;
  top: 8vh;

}
.col4{
  position: absolute;
  left: 55vw;
  top: 8vh;

} */
.currentCountry {
  height: 100%;
  padding: 1em;
  width: 47%;
  float: left;
  margin: 1vw;
  border-radius: 1vh;
}
.sankey {
  height: 100%;
  width: 100%;
}
.sankey .vue2leaflet-map {
  min-height: 500px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #4283b9;
}
path {
  stroke: #46b482;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  cursor: pointer;
}
/*
path:hover {
  stroke-opacity: 0.8;
  stroke: #315B7E;
}
*/
#showVaxLocs {
  margin-left: 1vw;
  margin-bottom: 1vh;
}
#resetBtn {
  margin-left: 1vw;
  margin-bottom: 1vh;
}
#gaCurrentCountry {
  color: green;
}
</style>
