<template>
  <div id="app">
  <div id="topNav">
    <h1 class="title">Updated Live via: https://corona-api.com/ </h1>
    <p>Estimated Vaccine Flows by Country</p>
  </div> 
    <!-- <div class="filters">
      <h2>Only show:</h2>
      <span v-for="(filt, ix) in filters" :key="ix">
        <a v-if="ix !== selectedFilter" href="#" @click="setFilter(ix, filt.filter)">{{ filt.text }}</a>
      </span>
      <div class="currentlyShowing">
        Currently showing {{ filters[selectedFilter].text }}
      </div>
    </div> -->
    <Map />
    <!-- <profile v-if="hasSelectedState">
    </profile>
    <list v-else>
    </list> -->
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import Map from './components/Map.vue'
// import Profile from './components/Profile.vue'
// import List from './components/List.vue'

export default {
  name: 'app',
  data: function () {
    return {
      'selectedFilter': 0,
      'filters': [
        {
          'filter': {},
          'text': 'All'
        },
        {
          'filter': {
            'Continent': 'AF'
          },
          'text': 'Only Africa'
        },
        {
          'filter': {
            'Continent': 'AS'
          },
          'text': 'Only Asia'
        },
        {
          'filter': {
            'Continent': 'NA'
          },
          'text': 'Only North America'
        },
        {
          'filter': {
            'Continent': 'SA'
          },
          'text': 'Only South America'
        },
        {
          'filter': {
            'Continent': 'EU'
          },
          'text': 'Only Europe'
        },
        {
          'filter': {
            'Developed / Developing Countries': 'Developed'
          },
          'text': 'Developed Countries'
        },
        {
          'filter': {
            'Developed / Developing Countries': 'Developing'
          },
          'text': 'Developing Countries'
        }
      ]
    };
  },
  components: {
    Map,
    // Profile,
    // List
  },
  mounted: function () {
    this.$store.dispatch('loadCodes');
    this.$store.dispatch('loadArticles');
  },
  computed: {
    direction: function () {
      return this.$store.state.inward ? 'receiving' : 'sending';
    },
    ...mapState([
      'own'
    ]),
    ...mapGetters([
      'hasSelectedState'
    ])
  },
  methods: {
    toggleInward: function () {
      this.$store.commit('toggleInward');
    },
    toggleOwn: function () {
      this.$store.commit('toggleOwn');
    },
    setFilter: function (ix, filter) {
      console.log(ix, filter);
      this.$store.commit('setFilter', filter);
      this.selectedFilter = ix;
    }
  }
}
</script>

<style>
html{
  height: 100%;
  
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c503e;
  font-family: 'Georgia';
  
  height: 100%;
}
#topNav{
  padding: 1vw;
}
a {
  color: rgba(0, 160, 106, 1.0);
  text-decoration: none;
}

p {
  font-size: 110%;
}

h1 {
  font-family: 'Georgia';
}
h2 {
  font-weight: normal;
}

h1.title {
  border-bottom: 5px rgba(0, 160, 106, 1.0) solid;
}

.filters {
  width: 100%;
  background: rgba(0, 160, 106, 1.0);
  color: white;
}
.filters h2 {
  display: inline-block;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.filters a {
  color: white;
  font-size: 120%;
  display: inline-block;
  border-bottom: thin white solid;
  margin-bottom: 9px;
  margin-left: 6px;
  margin-right: 6px;
  font-style: italic;
}
.currentlyShowing {
  display: inline-block;
  font-size: 140%;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
